package base

templ Base() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<link href="/css/output.css" rel="stylesheet"/>
			<script src="/js/htmx.min.js"></script>
			<title>McWidgets</title>
		</head>
		<body>
			{ children... }
		</body>
	</html>
}
